.about {
  padding-bottom: 80px;
}

.about__img {
  max-width: 100%;
  position: relative;
  right: -15px;
  margin-left: auto;
  display: block;
}

.about__text {
  font-family: "VAG-Rounded-Next-Light";
  margin-bottom: 30px;
}

.about__hook {
  font-family: "VAG-Rounded-Next-Bold";
  font-size: 24px;
}

.founders {
  padding: 70px 0 50px;;
  background-color: white;
}

.founders__text {
  font-size: 14px;
  font-family: "VAG-Rounded-Next-Light";
  margin-bottom: 15px;
}

.ambitions {
  padding: 100px 0;
}

.ambitions__row {
  margin-bottom: 140px;
}

.ambitions__text {
  font-family: "VAG-Rounded-Next-Light";
  font-size: 16px;
}

.ambitions__list {
  list-style: initial;
	margin-top: 10px;
	padding-left: 20px;
}

.ambitions__list__item {
  font-family: "VAG-Rounded-Next-Light";
	font-size: 16px;
}

.team {
  background-color: white;
  padding: 100px 0;
}

.team__mate {
  margin-bottom: 80px;
}

.team__text {
  max-width: 700px;
  margin: 0 auto 100px;
}

.team__position {
  font-size: 16px;
}

.supports {
  padding: 100px 0;
}

.supports__logo {
  margin: 30px;
}
