.hook {
	background-image: url("assets/imgs/background_developer.jpg");
}

.yourmaps {
	background: linear-gradient(227.33deg, #176ED4 0%, #1C62B4 100%);
	margin-top: -132px;
	padding-top: 200px;	
}

.yourmaps__btn {
	margin: auto;
	position: relative;
	top: 27px;
}

.how {
	padding-top: 150px; 
}

how__row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.how__title {
	font-size: 29px;
	margin-bottom: 40px;
}

.how__list__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

.how__list__icon {
	margin-right: 15px;
}

.deal {
	background: linear-gradient(227.33deg, #176ED4 0%, #1C62B4 100%);
}