.hook {
  background-image: url("assets/imgs/background_home.jpg");
}

/* HOW */
.how {
  padding-top: 80px;
}

.how__title {
  margin-top: 80px;
}

@media (max-width: 992px) {
  .how__title {
    margin-top: 0px;
  }
}

.how__list {
  list-style: none;
  font-size: 18px;
}

.how__list__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.how__list__icon {
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.how__img {
  max-width: 640px;
  height: 640px;
  background-image: url("assets/imgs/how_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .3s;
}

.how__list__icon.telecharger {
  background-image: url("assets/icons/telecharger_off.svg");
}

.how__list__link:hover .how__list__icon.telecharger {
  background-image: url("assets/icons/telecharger_on.svg");
}

.how__list__icon.prisedevue {
  background-image: url("assets/icons/prisedevue_off.svg");
}

.how__list__link:hover .how__list__icon.prisedevue {
  background-image: url("assets/icons/prisedevue_on.svg");
}

.how__list__icon.expertsolen {
  background-image: url("assets/icons/expertsolen_off.svg");
}

.how__list__link:hover .how__list__icon.expertsolen {
  background-image: url("assets/icons/expertsolen_on.svg");
}

.how__list__icon.certificat24h {
  background-image: url("assets/icons/certificat24h_off.svg");
}

.how__list__link:hover .how__list__icon.certificat24h {
  background-image: url("assets/icons/certificat24h_on.svg");
}

.how__list__icon.rassurez {
  background-image: url("assets/icons/rassurez_off.svg");
}

.how__list__link:hover .how__list__icon.rassurez {
  background-image: url("assets/icons/rassurez_on.svg");
}

.how__list__link:hover {
  color: #1C62B4;
  background-color: white;
}

.yellowform--right {
  position: absolute;
  right: 30px;
  top: 0;
}

.yellowform--left {
  position: absolute;
  left: 30px;
  top: 0;
}

.download {
  font-size: 20px;
  font-family: 'VAG-Rounded-Next-Bold';
}

.how__first {
  font-size: 14px;
  font-family: 'VAG-Rounded-Next-Light';
}

.how__first__free {
  font-family: 'VAG-Rounded-Next-Bold';
  background-color: #FFEA00;
  border-radius: 16px;
  padding: 4px 7px;
}

/* CERTIFICAT */
.certificat {
  background-color: #1C62B4;
  padding-top: 100px;
}

.certificat__title {
  color: white;
}

.certificat__img {
  position: relative;
  bottom: 0;
  left: -15px;
  opacity: 0;
  transition: transform .3s ease-out, opacity .6s ease-out;
  transform: translateY(150px);
}

.certificat__img--show {
  opacity: 1;
  transform: translateY(0);
}

.certificat__list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}

.certificat__list__icon {
  width: 45px;
}

.certificat__list__title {
  font-family: 'VAG-Rounded-Next-Bold';
  font-size: 20px;
}

.certificat__list__text {
  font-family: 'VAG-Rounded-Next-Light';
}

/* BRIGHTNESS */
.brightness {
  padding: 150px 0;
}

.brightness__list__item {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.brightness__list__icon {
  margin-right: 20px;
}
