@font-face {
  font-family: "VAG-Rounded-Next-Medium";
  src: url("assets/fonts/Monotype  - VAG Rounded Next Medium.otf") format("truetype");
}

@font-face {
  font-family: "VAG-Rounded-Next-Bold";
  src: url("assets/fonts/Monotype  - VAG Rounded Next Bold.otf") format("truetype");
}

@font-face {
  font-family: "VAG-Rounded-Next-Light";
  src: url("assets/fonts/Monotype  - VAG Rounded Next Light.otf") format("truetype");
}

body {
  font-family: 'VAG-Rounded-Next-Medium', sans-serif;
  background-color: #F1F7FD;
  margin-top: 58px;
  font-size: 18px;
}

*, p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

/* GLOBAL */

/* Colors :

blue: #1C62B4
hovered blue: #2071ce

*/

/* Buttons */
.btn {
	display: block;
	border-radius: 100px;
  text-transform: uppercase;
  font-size: 15px;
  height: 55px;
  padding: 0 40px;
  border-radius: 100px;
  border: none;
  font-family: 'VAG-Rounded-Next-Bold';
}

@media (max-width: 991.98px) {
  .btn {
    font-size: 12px;
    height: 45px;
		padding: 0 30px;
		margin: 0 auto;
  }
}

.btn-primary {
  background-color: #1C62B4;
}

.btn-primary:hover {
  background: #2071ce;
}

.btn-secondary {
  color: #1C62B4;
  background-color: white;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover {
  color: #1C62B4;
  background-color: #eeeeee;
}

.list, ol, ul {
  list-style-type: none;
}

.list-item {
  font-size: 13px;
}

.list-item:not(:last-child) {
  margin-bottom: 5px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* FONTS */

/* Titles */
h2 {
  font-family: 'VAG-Rounded-Next-Bold';
  line-height: 50px;
  font-size: 40px;
}

h3 {
  font-family: 'VAG-Rounded-Next-Bold';
  font-size: 22px;
}

.bold, b {
  font-family: 'VAG-Rounded-Next-Bold';
}

.light {
  font-family: "VAG-Rounded-Next-Light";
}

.white {
  color: white;

  /* text-shadow: 0 2px 12px rgba(0, 0, 0, 0.34); */
}

.blue {
  color: #4394F2;
}

.form-control {
  border: none;
  height: 50px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.18);
}

@media (max-width: 992px) {
  .name-container, .firstname-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .name-container {
    padding-right: 10px;
    margin-bottom: 20px;
  }

  .firstname-container {
    padding-left: 10px;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #29383A !important;
  opacity: 0.4 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #29383A !important;
  opacity: 0.4 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #29383A !important;
  opacity: 0.4 !important;
}

/* UTILITIES */
.no-p {
  padding: 0;
}

/* HEADER */
.navbar {
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.16);
  font-size: 14px;
  background-color: white;
}

.navbar-brand {
  padding: 10px 0 15px;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-item.active {
  border-bottom: 5px solid #FFDF00;
}

.nav-item.active .nav-link {
  position: relative;
  top: 4px;
}

.navbar-light .navbar-nav .nav-link.blue {
  background-color: #1C62B4;
  color: white;
  padding: 20px 25px 19px;
  margin: 0;
  transition: .2s;
}

.navbar-light .navbar-nav .nav-link.blue:hover {
  background-color: #2071ce;
}

@media (max-width: 992px) {
  .nav-item.blue {
    margin: 0px -16px -8px;
    padding-left: 16px;
  }
}

.dropdown-menu {
  font-size: 14px;
}

.dropdown-menu-right {
  right: 20px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 25px;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    margin-left: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 15px;
  }
}

/* FOOTER */
.newsletter {
  background-color: #003F8B;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 170px;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .newsletter {
    height: auto;
    flex-direction: column;
  }

  .newsletter > * {
    margin: 20px 0;
  }
}

.newsletter__form {
  max-width: 320px;
  margin: 0 30px;
  height: 55px;
}

.sitemap {
  background-color: #1C62B4;
  padding: 50px 0 20px;
  color: white;
}

.sitemap__title {
  margin-bottom: 20px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-family: "VAG-Rounded-Next-Bold";
}

.sitemap__link {
  font-size: 13px;
  opacity: .6;
}

.sitemap__link:hover {
  opacity: 1;
  text-decoration: none;
}

.sitemap__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.sitemap__social__icon {
  height: 20px;
	margin-bottom: 10px;
}

@media (max-width: 992px) {
  .sitemap__legal, .sitemap__social {
    text-align: center;
    justify-content: center;
  }
}

.sitemap__year:hover {
	opacity: .6;
}

/* COMMONS */
.hook {
  height: 800px;
  background-size: cover;
  background-position: center;
  padding-top: 120px;
}

@media (max-width: 991px) {
  .hook {
    height: 1000px;
  }
}

.hook__title {
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.34);
}

.trust {
  background-color: white;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.11);
  margin-top: -110px;
  padding: 50px 30px 30px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.trust__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

/* CARD */
.card {
  box-shadow: 0 3px 3px 0 rgba(24, 28, 64, 0.07);
  border: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: .3s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 14px 0 rgba(27, 35, 92, 0.2);
}

.card-title {
  font-family: 'VAG-Rounded-Next-Bold';
  font-size: 20px;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 14px;
  color: #6e7077;
}

.card-text {
  font-family: 'VAG-Rounded-Next-Light';
}

.card-header {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 0;
}

.card-text {
  display: inline;
}

.card-link {
  color: #1C62B4;
  margin-left: 10px;
  font-family: 'VAG-Rounded-Next-Bold';
}

.why {
  overflow-x: hidden;
}

.why__title {
  text-align: center;
  margin: 100px 0 50px;
}

.why__yellowform--left {
  position: absolute;
  left: -40px;
  top: -40px;
}

.why__yellowform--right {
  position: absolute;
  bottom: -25px;
  right: -40px;
}

/* DEVELOPER */
.developer {
  margin-top: 15px;
  position: relative;
}

@media (max-width: 992px) {
  .developer {
    height: 400px;
  }
}

.developer__img {
  width: 100%;
}

@media (max-width: 992px) {
  .developer__img {
    position: absolute;
    bottom: 0;
  }
}

.developer__hook {
  text-align: center;
  top: 20%;
  left: 50%;
  position: absolute;
  background-color: white;
  height: 409px;
  width: 409px;
  box-shadow: 0 20px 44px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  padding: 60px;
}

@media (max-width: 992px) {
  .developer__hook {
    top: 0;
    left: unset;
    right: 15px;
    width: 290px;
    height: 290px;
  }
}

.developer__title {
  margin: 25px 0 20px;
}

@media (max-width: 992px) {
  .developer__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 10px;
  }
}

.developer__text {
  font-size: 18px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .developer__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1200px;
  }
}

.modal-content {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
